
body {
    background-image: url('\\images\\output7.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
}

.contact-box {
    border-radius: 12px;
    width: 15rem;
    background-color: tan;
    color: black;
    font-size: 1rem;
    padding-top: .5rem;
    padding-right: 1rem;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: 1rem;
}

#contact-title {
    padding-left: .5rem;
    padding-bottom: 0rem;
}

#contact-body {
    text-align: right;
}

#contact-body > ul {
    list-style-type: none;
    padding-bottom: .5rem;
}

nav {
    display: flex;
    justify-content: flex-end;
    background: rgba(56, 73, 86, 0.8);
    margin-top: auto;
    padding: .5rem;
    backdrop-filter: blur(6px);
}

nav > a {
    border-radius: 12px;
    padding: .5rem;
    margin-inline: 1rem;
    background-color: rgb(200, 230, 255);
}

/* hyperlinks */
a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

a:link {
    color:black;
}

a:visited {
    color:black;
}

a:hover {
    color:black;
}

a:active {
    color:black;
}

.main-content {
    border-radius: 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 80vh;
    width: 90vw;
    background: rgba(56, 73, 86, 0.8);
    margin-inline: auto;
    margin-top: 1rem;
    backdrop-filter: blur(6px);
    padding: 1vw;
    overflow-y: auto;
}

.main-content > div {
    margin: 1em;
    justify-content: center;
}

#main-p1, #main-p2 {
    border-radius: 12px;
    background: #384956;
    height: 30em;
    width: 45em;
}

#main-p3 {
    border-radius: 12px;
    background: #384956;
    height: 30em;
    width: 80em;
}