h3 {
    font-size: 64px;
    font-weight: normal;
}


img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

body {
    background-image: url('\\images\\output7.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    font-size: 25px;
    font-family:'Courier New', Courier, monospace;
}

/*
.contact-box {
    border-radius: 12px;
    width: 15rem;
    background-color: tan;
    color: black;
    padding-top: .5rem;
    padding-right: 1rem;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: 1rem;
}
*/

/*
#contact-title {
    padding-left: .5rem;
    padding-bottom: 0rem;
}
*/

#contact-title {
    text-align: right;
    font-size: 16px;
}

#contact-body {
    text-align: right;
    font-size: 14px;
}

#contact-body > ul {
    list-style-type: none;
    padding-bottom: .5rem;

}

nav {
    display: flex;
    justify-content: flex-end;
    background: rgba(56, 73, 86, 0.8);
    margin-top: auto;
    padding: .5rem;
    backdrop-filter: blur(6px);
}

nav > a {
    border-radius: 12px;
    padding: .5em;
    margin-inline: 1em;
    background-color: rgb(200, 230, 255);
    font-family:'Courier New', Courier, monospace;
}

/* hyperlinks */
a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

a:link {
    color:black;
}

a:visited {
    color:black;
}

a:hover {
    color:black;
}

a:active {
    color:black;
}

#pic {
    width: 100%;
    height: 100%;
}

.main-content {
    border-radius: 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 75vh;
    width: 90vw;
    background: rgba(56, 73, 86, 0.8);
    margin-inline: auto;
    margin-top: 1rem;
    backdrop-filter: blur(6px);
    padding: 1vw;
    overflow-y: auto;
}

#home {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    gap: 2em;
    align-items: center;
    padding: 2em;
    margin-top: 3em;
}

#intro-text-p1 {
    border-radius: 12px;
    background: none;
    color:rgb(200, 230, 255);
    width: 50%;
}

#intro-img-p1 {
    border-radius: 12px;
    background: #384956;
    aspect-ratio: 296 / 253;
    min-width: 180px;
    width: 20em;
}

#bot {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    gap: 2em;
    align-items: flex-end;
    margin-top: 3em;
}


#bot-text-p1 {
    border-radius: 12px;
    background: none;
    color:rgb(200, 230, 255);
    width: 50%;
}

#bot-img-p1 {
    border-radius: 12px;
    background: #384956;
    margin-top: 3em;
    aspect-ratio: 459 / 823;
    min-width: 180px;
}

#catTower {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 2em;
    align-items: flex-end;
    padding-top: 20em;
}

#cat-text-p1 {
    border-radius: 12px;
    background: none;
    color:rgb(200, 230, 255);
    width: 50%;
    align-items: flex-end;
}

#cat-img-p1, #cat-img-p2, #cat-img-p3 {
    border-radius: 12px;
    background: #384956;
    margin-top: 3em;
    width: 50%;
}

#cat-img-p1 {
    aspect-ratio: 459 / 191;
    min-width: 180px;
}

#cat-img-p2 {
    aspect-ratio: 324 / 246;
    min-width: 180px;
}

#cat-img-p3 {
    aspect-ratio: 247 / 263;
    min-width: 180px;
}

#site {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap: 2em;
    align-items: center;
    margin-top: 17vh;
    margin-bottom: 17vh
}

#site-text-p1 {
    border-radius: 12px;
    background: none;
    color:rgb(200, 230, 255);
    width: 50%;
    align-items: flex-end;
}

#site-iframe-p1 {
    width: 70vw;
    height: 50vh;
    border-radius: 12px;
}

#socials {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap: 2em;
    align-items: center;
    margin-top: 17vh;
    margin-bottom: 17vh
}

#socials-text-p1 {
    border-radius: 12px;
    background: none;
    color:rgb(200, 230, 255);
    width: 50%;
    align-items: flex-end;
}

@media (max-width: 600px) {
    body {
        font-size: 16px;
    }
}